body {
    margin-top: 75px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/*.timerCell{
    font-weight:bold;
}*/

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.navbar {
    /*min-height:100px;*/
    background-color: #28323c;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}
/* Footable css for count widget */
.footable-paging-widget-row {
    text-align: right;
}
.footable-paging-widget{
    text-align:left;
    font-weight:bold;
    font-size:24px;
}
.footable-paging-widget-label {
    margin-right: 10px;
}
.footable{
    margin-top:20px;
}
@media (min-width: 768px) {
    .footable-paging-widget {
        float: left;
    }
}

.table > tbody > tr > td {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: baseline;
}

.footable-editing {
    display: none;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    font-size: 14px;
}

.input-group > .form-control {
    float: none;
}

#pickedPartsText, #employeeName, #invoiceNoText, #invoiceNoText-cancel {
    font-weight: bold;
}

.stats {
    font-weight: bold;
    font-size: 24px;
    margin-top: 24px;
}

#statsTable .footable-loader{
    height: 125px;
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
    border-color: black;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon > label {
    display:inline;
}