@model List<Invoice>
<h2>Manage Personnel</h2>
<div class="container-fluid">
    <h3>Active Employees</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gogglins deep</td>
                <td>G-deep</td>
                <td>Gogglins deep</td>
            </tr>
        </tbody>
    </table>
    <h3>Deactivated Employees</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Deactivated On</th>
                <th>Reinstate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gogglins deep</td>
                <td>G-deep</td>
                <td>Gogglins deep</td>
                <td>Gogglins deep</td>
            </tr>
        </tbody>
    </table>
</div>