@model List<SelectListItem>


    <select asp-items="@Model" class="form-control">
        <option value="">-- Assign Employee --</option>
    </select><span class="input-group-btn"><button onclick="assignEmp($(this))" title="Confirm changes" type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok-circle text-success" aria-hidden="true"></span></button></span>
