<h3 class="stats"><span class="glyphicon glyphicon-tasks" style="font-size:20px"></span> Today's Stats</h3>
<div><strong>Total Invoices:</strong> 36</div>
<div><strong>Total Parts Pulled</strong>: 167</div>
<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Total Invoices</th>
            <th># of Parts Pulled</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jaun Pablo</td>
            <td>7</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Jaun Pablo</td>
            <td>7</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Jaun Pablo</td>
            <td>7</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Jaun Pablo</td>
            <td>7</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Jaun Pablo</td>
            <td>7</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Jaun Pablo</td>
            <td>7</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Jaun Pablo</td>
            <td>7</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Jaun Pablo</td>
            <td>7</td>
            <td>32</td>
        </tr>

    </tbody>
</table>