@model List<Invoice>
<h2>Completed Invoice Archive <small>for the last 30 days</small></h2>
<div class="container-fluid">
    @Html.Partial("_CompletedInvoiceList", Model)
</div>

@section Scripts {
    <script>
    $('.table').footable();
    </script>
    }