<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autonation Roseville</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/footable.bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery.countdown.css">


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/PPPlogo.jpg" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Dashboard" asp-action="Main"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-briefcase"></span> Archive</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-dashboard"></span> Efficiency Reports</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-user"></span> Manage Personnel</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact"><span class="glyphicon glyphicon-new-window"></span> Log Off</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; 2018 BuffaloKreative Software Co.<br/><span class="small">Version 1.0&alpha;</span></p>
        </footer>
    </div>


        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/footable.custom.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.plugin.js"></script>
        <script src="~/js/jquery.countdown.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
